services:
  ai-agent:
    build: .
    container_name: ai-agent
    ports:
      - "8083:8000"
    env_file:
      - .env
    restart: always
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis

  redis:
    image: redis:alpine
    container_name: ai-agent-redis
    restart: always