services:
  gemini-api:
    build: .
    container_name: gemini-api
    command: uvicorn main:app --host 0.0.0.0 --port 8083 --reload
    ports:
      - "8083:8083"
    env_file:
      - .env
    restart: always
    volumes:
      - /opt/docker/gemini-api:/app